extends ../../layout

block content
    form.form(action=`/admin/user/update/${user.userId}` method="POST")
        input(type="hidden", name="userId", value=user.userId)
        input(type="text", name="name", value=user.name)
        input(type="email", name="email", value=user.email)
        input(type="password", name="password")
        input.button(type="submit", value="Register")
